<p id="notice"><%= notice %></p>

<h1 class="header-text">Machines</h1>
<div class="search-box">
    <%= search_form_for @q do |f| %>
    <div id="search-option">
        <%= f.label "Manufacturer:" %>
        <%= f.search_field :unit_mfr_eq, :placeholder => "Lenono" %>
    </div>
    <div id="search-option">
        <label>Model Number:</label>
        <%= f.search_field :unit_model_eq, :placeholder => "1738"%>
    </div>
    <div id="search-option">
        <label>HDD Size:</label>
        <%= f.select :hdd_size_eq, options_for_select(["120", "80"]) %>
        <span class="unit">GB</span>
    </div>
    <div id="search-option">
        <label>Serial Number:</label>
        <%= f.number_field :unit_serial_number_eq, :placeholder => "18123182312" %>
    </div>
    <div id="search-option">
        <label>Order Number:</label>
        <%= f.search_field :order_number_eq, :placeholder => "89673409" %>
    </div>
    <div id="search-option">
        <label>RAM Amount:</label>
        <%= f.number_field :ram_size, :placeholder => "4" %>
        <span class="unit">GB</span>
    </div>
    <div class="search-box-dates">
        <div id="search-option">
            <label>Before Date:</label>
            <%= f.datetime_field :created_at_lt, :value => Time.now.strftime('%Y-%m-%d') %>
        </div>
        <div id="search-option">
            <label>After Date:</label>
            <%= f.datetime_field :created_at_gt, :value => Time.now.strftime('%Y-%m-%d')%>
        </div>
    </div>
        <%= f.submit %>
    <% end %>
</div>
<table>
    <thead>
        <tr>
            <th><%= sort_link @q, :unit_serial_number, "Serial Number" %></th>
            <th><%= sort_link @q, :unit_model, "Model Number" %></th>
            <th><%= sort_link @q, :cpu_model, "CPU" %></th>
            <th><%= sort_link @q, :unit_mfr, "Manufacturer" %></th>
            <th><%= sort_link @q, :ram_size, "RAM Amount" %></th>
            <th><%= sort_link @q, :hdd_size, "HDD Size" %></th>
            <th><%= sort_link @q, :hdd_serial, "HDD Serial" %></th>
            <th><%= sort_link @q, :created_at, "Created" %></th>
            <th><%= sort_link @q, :order_number, "Order Number" %></th>
            <th><%= sort_link @q, :order_number, "Deleted" %></th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>

        <% @results.each do |machine| %>
        <tr>
            <td><%= machine.unit_serial_number %></td>
            <td><%= machine.unit_model %></td>
            <td><%= machine.cpu_model %></td>
            <td><%= machine.unit_mfr %></td>
            <td><%= machine.ram_size %></td>
            <td><%= machine.hdd_size %></td>
            <td><%= machine.hdd_serial %></td>
            <td><%= machine.created_at %></td>
            <td><%= machine.order_number %></td>
            <td><% if machine.deleted %><%= machine.deleted %><% else %>false<% end %></td>
            <td><%= link_to 'View', machine, :class => "table-button" %></td>
            <td><%= link_to 'Delete', machine, method: :delete, data: { confirm: 'Are you sure?' }, :class => "table-button" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
