<h1 class="main"><%= @machine.unit_mfr %> <%= @machine.unit_model %></h1>
<p class="show">
    <strong>Serial Number:</strong>
    <%= @machine.unit_serial_number %>
</p>

<p class="show">
    <strong>CPU:</strong>
    <%= @machine.cpu_model %>
</p>

<p class="show">
    <strong>RAM Pass:</strong>
    <%= @machine.ram_pass %>
</p>

<p class="show">
    <strong>RAM Amount:</strong>
    <%= @machine.ram_size %>
</p>

<p class="show">
    <strong>Hard Drive Pass:</strong>
    <%= @machine.hdd_pass %>
</p>

<p class="show">
    <strong>Hard Drive Size:</strong>
    <%= @machine.hdd_size %>
</p>

<p class="show">
    <strong>Hard Drive Serial:</strong>
    <%= @machine.hdd_serial %>
</p>
<p class="show">
    <strong>Order Number:</strong>
    <%= @machine.order_number %>
</p>

<div class="links">
    <%= link_to 'Back', machines_path %>
</div>
